<shared-header [title]="title"> </shared-header>

<div class="container d-flex justify-content-center mt-3">
  <div class="card" style="width: 18rem;">

    <div class="card-body">
      <h5 class="card-title"><strong>Nombre: </strong>{{affiliate.name}}</h5>
      <p class="card-text"><strong>Edad: </strong>{{affiliate.age}}</p>
      <p class="card-text"><strong>Email: </strong>{{affiliate.email}}</p>
      <button class="btn btn-primary me-3 " routerLink="/affiliates/all" >Regresar </button>

      <button class="btn btn-danger ms-5  " (click)="onDelete()">Eliminar</button>
    </div>
  </div>
</div>
